// COLOR CUBE
$White:                          #ffffff;
$Cod-Gray:                       #0b0b0b;
$Shady-Lady:                     #aeadae;
$Mountain-Meadow:                #1fad96;
$Emperor:                        #504442;
$Thunderbird:                    #cb1917;
$Santa-Fe:                       #ad6f5b;
$Turquoise-Blue:                 #5df0c8;
$Koromiko:                       #ffbe6b;
$Royal-Blue:                     #4473ee;

// MEDIAN CUT
$Hint-of-Red:                    #f6f3f5;
$Outer-Space:                    #2c3837;
$Edward:                         #9ea4a5;
$Copper-Rust:                    #975c4d;
$Sandal:                         #ad876a;

// MATERIAL DESIGN
$Jungle-Green:                   #25ab94;
$Sandal:                         #a6846b;
$Thunderbird-DarkVibrant:        #c52618;
$Gun-Power-DarkMuted:            #48495f;
$Eunry-LightVibrant:             #c99f8e;


// FONT FAMILY AND WEIGHT
$primary-font-family: "Roboto";
$primary-font-weight: 600;
$secondary-font-family: "Roboto Slab";
$secondary-font-weight: 400;
$text-font-family: "Roboto";
$text-font-weight: 400;
$accent-font-family: "Roboto";
$accent-font-weight: 500;

// BUTTON
.btn{
    background-color: $Mountain-Meadow !important;
    color: $White !important;
    font-size: 12px !important;
    padding: 10px 0px !important;
    width: 220px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    &:hover{background-color: $Turquoise-Blue !important;}
    &:focus{box-shadow: none !important;}
}